.Krish-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  border-radius: 50%;
}

.title {
  text-align: center;
  border: 3px solid blue;
}

.description {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
